In [1]:
import pandas as pd

In [39]:
sd = pd.read_csv('public/data/servedirection.csv')

In [40]:
sd['match_id'] = sd['match_id'].str.split("-")

In [41]:
sd.head()

,match_id,row,deuce_wide,deuce_middle,deuce_t,ad_wide,ad_middle,ad_t,err_net,err_wide,err_deep,err_wide_deep,err_foot,err_unknown
0,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...",1 Total,12,17,15,6,21,11,19,8,10,1,0,0
1,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...",1 1,9,8,10,2,9,8,0,0,0,0,0,0
2,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...",1 2,3,9,5,4,12,3,19,8,10,1,0,0
3,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...",2 Total,11,16,12,7,19,11,24,6,6,1,0,0
4,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...",2 1,9,9,11,4,7,10,0,0,0,0,0,0

In [42]:
sd['row'] = sd['row'].str.split(" ")

In [43]:
sd.head()

,match_id,row,deuce_wide,deuce_middle,deuce_t,ad_wide,ad_middle,ad_t,err_net,err_wide,err_deep,err_wide_deep,err_foot,err_unknown
0,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, Total]",12,17,15,6,21,11,19,8,10,1,0,0
1,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, 1]",9,8,10,2,9,8,0,0,0,0,0,0
2,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, 2]",3,9,5,4,12,3,19,8,10,1,0,0
3,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[2, Total]",11,16,12,7,19,11,24,6,6,1,0,0
4,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[2, 1]",9,9,11,4,7,10,0,0,0,0,0,0

In [44]:
sd['playernumber'] = sd['row'].str[0]

In [45]:
sd.head()

,match_id,row,deuce_wide,deuce_middle,deuce_t,ad_wide,ad_middle,ad_t,err_net,err_wide,err_deep,err_wide_deep,err_foot,err_unknown,playernumber
0,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, Total]",12,17,15,6,21,11,19,8,10,1,0,0,1
1,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, 1]",9,8,10,2,9,8,0,0,0,0,0,0,1
2,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[1, 2]",3,9,5,4,12,3,19,8,10,1,0,0,1
3,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[2, Total]",11,16,12,7,19,11,24,6,6,1,0,0,2
4,"[20070901, W, US_Open, R32, Agnieszka_Radwansk...","[2, 1]",9,9,11,4,7,10,0,0,0,0,0,0,2

In [ ]:
df["player"] = [sd['match_id'].str[4] if ele  == 1 else sd['match_id'].str[5] for ele in sd["playernumber"]]

In [ ]:
sd.head()